:root {
  --black: hsl(240, 19.59%, 19.02%);
  --light-black: hsl(240, 20%, 24.51%);
  --white: hsl(60, 100%, 99.41%);
  --green: hsl(140.57, 51.22%, 40.2%);
  --red: hsl(8.09, 80.18%, 56.47%);
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: "VT323", monospace;
  margin: 0;
}

button {
  width: 9rem;
  font-family: "VT323", monospace;
  background-color: var(--white);
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: var(--black);
  padding: 0.5rem;
  border: none;
  border-radius: 15px;
}
button:hover {
  opacity: 85%;
}
button:active {
  opacity: 75%;
}

.page-wrapper {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  margin: auto;
}

.opponent_options-wrapper , .sign-wrapper{
  display: flex;
  gap: 1rem;
  background-color: var(--light-black);
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 1.3rem;
  margin: 1rem 0rem;
}

.game_board-wrapper {
  display: none;
  flex-wrap: wrap;
  width: 23rem;
  margin: 2rem 0rem;
  gap: 1rem;
}

.block {
  width: 7rem;
  height: 7rem;
  background-color: var(--light-black);
}

.btns-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0rem;
}

.restart-btn , .start-btn {
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
  display: none;
}

.start-btn {
  display: inline-block;
}

