:root {
  --black: hsl(240, 19.59%, 19.02%);
  --light-black: hsl(240, 20%, 24.51%);
  --white: hsl(60, 100%, 99.41%);
  --green: hsl(140.57, 51.22%, 40.2%);
  --red: hsl(8.09, 80.18%, 56.47%);
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: "VT323", monospace;
  margin: 0;
}

button {
  width: 100%;
  font-family: "VT323", monospace;
  font-size: 32px;
  line-height: 32px;
  padding: 12px;
  border-radius: 15px;
}

.page-wrapper {
  overflow: hidden;
}